.menu_bar{
    grid-area: m;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(217, 210, 223);
    border: none;
    border-radius: 5px;
}
a{
    text-decoration: none;
    border: solid 1px ;
    color: rgb(104, 100, 104) ;
    padding: 6px;
    margin: 30px auto;
    border-radius: 5px;
}
a:hover, a:focus{
    background-color: gray;
    color: rgb(58, 56, 56);
}
