 .App {
  display: grid;
  grid-template-areas: 
  "m s";
  grid-template-columns: 2fr 8fr;
  gap: 20px;
  max-width: 100%;
  padding: 10px 10px;
  background-color: violet;
  min-height: 96vh;
  max-height: 100% ;
}
.screen{
  grid-area: s;
  background-color: rgb(217, 210, 223);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 90%;
}
button{
  width: 100px;
  height: 40px;
  font-size: medium;
  background-color: violet; 
}
/* button{
  background-color: red;
} */



